node_modules
.env
coverage
coverage.json
typechain
typechain-types
.prettierrc
.prettierignore
yarn.lock
.vscode/extensions/GitHub-Copilot-*/
yarn-error.log

#Hardhat files
cache
artifacts
gas-report.txt
deployments

